{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps,[{erlanglibs,"2.18.2",{git,"git@github.com:spilgames/erlanglibs.git",{tag,"2.18.2"}}}]}.

{deps_dir,"deps"}.

{edoc_opts,[{dir,"DOC"},{includes,[".","deps"]},{preprocess,true},{todo,true}]}.

{erl_opts,[debug_info]}.

{eunit_compile_opts,[{d,'TESTING'}]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{sub_dirs,["rel"]}.

{xref_checks,[undefined_function_calls]}.

