{sys, [
       {lib_dirs, ["../deps", "/tmp/release_builder"]},
	     {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, keep},
       {rel, "eda", "XX_GIT_TAG_XX",
        [
         kernel,
         stdlib,
         sasl,
         %lager_syslog,
         %nifutils,
         eda
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "eda"},
       {profile, embedded}, % | development | embedded
       {debug_info, keep},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                           "^erts.*/info", "^erts.*/man",
                           "^erts.*/lib", "^erts.*/include",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, syntax_tools,[{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},

       %{app, erlanglibs, [{incl_cond, include}]},       
       %{app, nifutils, [{incl_cond, include}]},
       %{app, lager, [{incl_cond, include}]},
       %{app, lager_syslog, [{incl_cond, include}]},
       %{app, goldrush, [{incl_cond, include}]},
       %{app, syslog, [{incl_cond, include}]},

       {app, eda, [{incl_cond, include}]}
]}.

{target_dir, "release"}.

{overlay, [
    {mkdir, "log/sasl"},
    {mkdir, "priv/"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/eda", "bin/eda"},
    {template,   "files/vm.args",        "releases/\{\{rel_vsn\}\}/vm.args"},
    {template,   "files/sys.config",     "releases/\{\{rel_vsn\}\}/sys.config"},
    {template,   "files/extra.config",   "priv/extra.config"}
]}.
